.portofolio_container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.portofolio_card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.3rem 0.5rem var(--first-color);
}

.portofolio_image {
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 100%;
  width: 100%;
  height: 190px;
}

.portofolio_image:hover {
  filter: grayscale(0%);
}

.portofolio_tools {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tool {
  background-color: var(--first-color);
  color: #ffff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.portofolio_title {
  margin-top: 0.25rem;
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.portofolio_buttons {
  display: flex;
  padding-top: 10px;
}

.portofolio_button {
  background-color: var(--first-color);
  border-radius: 9px;
  margin-right: 0.55rem;
  padding: 0.5rem;
  color: #fff;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.load_more_container {
  text-align: center;
  margin-top: 50px;
}

.load_more_button {
  background-color: var(--first-color);
  font-size: 20px;
  color: #fff;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: .6rem;
  font-weight: var(--font-medium);
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.load_more_button:hover {
  background-color: var(--first-color-alt);
}

/* Animasi zoom-out */
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* Animasi zoom-in */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Modal (background) */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  animation: fadeIn 0.3s ease-in-out;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content (image) with zoom-in animation */
.modal_content.zoom-in {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.5rem var(--first-color);
  animation: zoomIn 0.5s ease-in-out; /* Zoom-in animation */
}

/* Modal Content with zoom-out animation */
.modal_content.zoom-out {
  animation: zoomOut 0.5s ease-in-out; /* Zoom-out animation */
}

/* Fade-in animation for the modal background */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .modal_content {
    max-width: 100%;
    max-height: 80%; /* Adjust height for smaller screens */
  }
}


@media screen and (max-width: 767px) {
  .portofolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portofolio_card {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .portofolio_button {
    margin-right: 1rem;
    column-gap: 1rem;
  }

  .portofolio_image {
    height: 160px;
  }
  .load_more_button {
    font-size: 16px;
    padding: 0.75rem 2rem;
  }
  .load_more_container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .portofolio_title {
    font-size: 25px;
  }

  .portofolio_description {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .portofolio_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}