.skills_container {
    row-gap: 0;
}

.skills_icon {
    margin-right: var(--mb-0-75);
}

.skills_title {
    font-size: var(--h3-font-size);
}

.skills_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow {
    margin-left: auto;
    transition: .4s;
}


.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name {
    color: var(--first-color);
    font-size: 2rem;
    position: absolute;
    bottom: -30px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
}

.skill_card:hover .skills_name {
    opacity: 1;
    transform: translateY(-60px);
}

.skills_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.skill_card{
    height: 180px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0.3rem 0.5rem var(--first-color);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.skill_card:hover{
    height: 220px;
    width: 100%;
}

.skill_card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: var(--name-color);
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.skill_card:hover::after{
    width: 325%;
    top: -100%;
}

.skills_content .skill_card:hover{
    background-color: transparent;
    transform: translateY(-10px);
    border-color: var(--first-color-second);
}

.icon_skill{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4rem;
    color: var(--first-color);
}

.icon_skill_svg{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

.skills_close .skills_list {
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 350px) {
    .skills_title {
        font-size: var(--normal-font-size);
    }
}

@media screen and (max-width: 767px) {
    .skills_list{
        grid-template-columns: repeat(2,1fr);
    }
    
    .skill_card{
        height: 140px;
    }
    .skill_card:hover{
        height: 170px;
    }
    
    .skill_card::after {
        top: 100%; 
        left: -100%; 
        width: 200%; 
        height: 10px;
        transition: 0.8s;
    }

    .skill_card:hover::after {
        width: 300%; 
        top: -50%;
    }
    .icon_skill_svg{
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }

    .skill_card:hover {
        transform: none; 
        transform: translateY(-8px);
        background-color: transparent; 
        border-color: transparent; 
    }
    .icon_skill{
        font-size: 4rem;
    }
    .skills_name{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .skills_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px; 
    }

    .skills_name{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .skills_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px; 
    }
}
